/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

:root {
    --primary : #070915;
    --secondary : #262734;
    --accent : #C6D8FF;
    --form-field : rgb(28, 30, 38, 0.5);
    --c1 : red;
    --c2 : green;
    --c3 : orange;
    --c4 : pink;

    --font : 'Cardo', serif;
    --form-font : 'Noto Sans Display', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    background-color: var(--primary);
    color: var(--accent);
}

/* navbar */

.nav-container {
    z-index: 10;
    position: fixed;
    /* top:0; */
    /* overflow: hidden; */
    background-color: var(--primary);
    opacity: 0.8;
    width: 100%;
    /* height: max-content; */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 15px;
}

#logo-container a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#logo-container a div {
    margin: auto;
    text-transform: uppercase;
    /* font-size: 17px;     */
    color: var(--accent);
}

.nav-container img {
    height: 50px;
    margin-right: 8px;
}

.nav-container ul {
    list-style: none;
    /* background-color: var(--c3); */
    /* height: max-content; */
    /* width: max-content; */
    /* width: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    
    height: 100%;
    text-align: center;
    width: 100px; 
    /* background-color: var(--c1); */
    /* margin: 0 8px; */
}

.nav-container ul li:hover , .menu-bars:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.nav-container a{
    /* height: 100%; */
    text-transform: uppercase;
    display: block;
    /* font-size: 17px; */
    text-decoration: none;
    color: var(--accent);
}

/* sections */

/* .sec {
    height: 100vh;
} */

/* #about1, #about2 { */
#about1 {
    padding: 0 75px;
    /* height: 50vh; */
}

/* #about2 {
    background-color: var(--accent);
    background-color: purple;
} */

#home {
    background-color: var(--primary);
}

/* hamburger menu */

.menu-bars{
    padding-left: 15px;
    padding-right: 15px;
    display:none;
    flex-direction: column;
    /* height:20px; */
    justify-content: center;
    align-items: center;
    position:relative;
  }

  .menu-bars input{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity: 0;
    cursor:pointer;
    z-index: 2;
  }
  .menu-bars span{
    display:block;
    width:28px;
    height:2px;
    
    background-color: var(--accent);
    opacity: 0.7;

    border-radius: 3px;
    transition: all 0.3s;
  }
  .menu-bars span:nth-child(2){
      margin-bottom: 6px;
    /* transform-origin: 0 0 ; */
  }
  .menu-bars span:nth-child(4){
      margin-top: 6px;
    /* transform-origin: 0 100% ; */
  }
  .menu-bars input:checked ~ span:nth-child(2){
    width: 15px;
    transform: rotate(45deg)  translate(8px,-4px);
  }
  .menu-bars input:checked ~ span:nth-child(4){
    width: 15px;
    transform: rotate(-45deg) translate(8px, 4px);
  }

  nav ul.slide{
    transform: translateX(0);
  }

/* home */

#hero-img {
    z-index: 2;
    
    background: url("img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
    /* position: absolute; */
    /* top:0; */
    
    object-fit: contain;
    /* margin: 0;     */
    /* display: inline; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main_heading, #tagline {
    color: var(--accent);

    text-align: center;
    /* padding: 0 5vw; */
}

#main_heading {
    font-size: 80px;
}

#tagline {
    font-size: 20px;
    margin-bottom: 5px;
}

.index-flex-container {
    display: flex;
    
    /* flex-wrap: wrap;  ------------ DO NOT REMOVE ---------*/
    justify-content: center;
    align-items: center;
    /* height: 700px; */
    /* background-color: var(--c4); */
}

.tile1, .tile2, .tile3 {
    z-index: 3;
    background-color: var(--accent);
    margin: 0 20px;
    margin-top: -100px;
    padding: 20px;
    height: max-content;
    width: 20%;
    width: 300px;
    height: 200px;
    /* display: inline; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    /* height: 60%;
    width: max-content;
    padding: 0px 2% 15px;
    margin: auto; */
    margin-bottom: 8px;
}

.icon-desc {
    color: var(--secondary);
    text-align: center;

    /* height: 40%;
    font-size: 2.5vh; */
}

.tile2 {
    background-color: var(--secondary);
}

.tile2 .icon-desc {
    color: var(--accent);
}

/* about */

#about1 {
    /* background-color: orange;*/

    background-image: linear-gradient(#070915 50%, #C6D8FF 50%);
    /* background-image: linear-gradient(red 50%, pink 50%); */

    /* padding-top: 10%; */
    /* padding-top: 15vh; */

    /* padding-top: calc(50vh - 35vh); */
    padding: calc(50vh - 35vh) 75px;
}

#about-content {
    max-width: 90%;
    /* margin-top: 100px; */
    /* min-height: fit-content; */
    /* max-height: 100%; */
    height: fit-content !important;
    margin: auto;

}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    height: 70vh;
    text-align: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; 
        /* z-index: 2; */
        background: url('img/img\ \(4\).png') center/cover;
        }
    .div2 { grid-area: 1 / 2 / 2 / 3; 
        /* z-index: 2; */
        background: url('img/img\ \(3\).png') center/cover;
        }
    .div3 { grid-area: 1 / 3 / 3 / 4; 
        /* z-index: 2; */
        background-color: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;}
    .div4 { grid-area: 2 / 1 / 3 / 2; 
        /* z-index: 2; */
        background-color: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;}
    .div5 { grid-area: 2 / 2 / 3 / 3; 
        /* z-index: 2; */
        background: url('img/img\ \(5\).png') center/cover;}

/* contact */

#contact {
    /* background-color: var(--c4); */
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
}

#contact-header {
    color: var(--secondary);
    padding: 30px 45px;
    min-height: 250px;
    height: 30%;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header-text {
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 400;
}

#tagline2 {
    /* background-color: aqua; */
    text-align: center;
    max-width: 500px;
}

#tip {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; 
    border-top: 50px solid var(--accent);
    position: absolute;
    left: calc(50% - 50px);
}

#contact-content {
    display: flex;
    height: 70%;
    padding: 0 45px;
}

#contact-form {
    background-color: var(--secondary);
    width: 50%;
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    padding: 0 30px;
    padding-top: 60px;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    /* background-color: pink; */
}

.form-field {
    position: relative;
    width: 100%;
    /* height: 48px; */
    /* background-color: orange; */
    padding: 5px;
    
}

input, textarea , .btn{
    font-family: var(--form-font) !important;
    height: 45px;
    width: 100% !important;
    padding: 16px 10px;
    margin-bottom: 5px;
    background-color: var(--form-field);
    border: none;
    border-radius: 4px;
    color: var(--accent);
}

textarea {
    height: 150px !important;
    resize: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #21222d inset !important;
    -webkit-text-fill-color: var(--accent) !important;
}


input:focus, textarea:focus {
    outline: 0; 
}

.btn {
    line-height: 0.8;
    margin-bottom: none !important;
    background-color: var(--accent);
    color: var(--secondary);
    width: fit-content !important;
    float: right;
    cursor: pointer;
    font-family: var(--font) !important;
}

#contact-map {
    /* background-color: var(--c3); */
    width: 50%;
    padding: 0 30px;
    padding-top: 65px;
    color: var(--accent);
}

#contact-form, #contact-map {
    margin-top: 40px;

}

.info-header {
    text-transform: uppercase;
}

iframe {
    /* margin: 15px; */
    border-radius: 4px;
}

#info-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    display: flex;
    margin: 7px 0;
}

.info-icon {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    color: var(--accent);
    font-size: 25px;
}

.info-icon-desc {
    margin-left: 10px;
}

/* footer */

footer {
    /* padding-top: 30px; */
    width: 100%;
    background-color: var(--secondary);
    /* background-color: var(--c1); */
    text-align: center;
    color: var(--accent);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* media queries */



/* large devices (laptops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .tile1, .tile2, .tile3 {
        width: 275px;
        /* height: ; */
    }
}

/* 1000px and down */
@media only screen and (max-width: 1000px) {

    #main_heading {
        /* font-weight: 400; */
        font-size: 75px;
    }
    
    #tagline {
        font-size: 18px;
        /* margin-top: 2px; */
    }

    .tile1, .tile2, .tile3 {
        min-width: 200px;
        padding: 20px;
        margin: -100px 10px 0;
        /* min-height: 200px; */
        height: fit-content;
    }

    #about-content {
        max-width: 100%;
    }
}

/* 850 and down */

@media only screen and (max-width: 850px) {

    #about1 {
    padding-top: calc(50vh - 39vh);
    }
    .parent {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: repeat(4, 1fr);
        height: 80vh;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 1 / 2 / 5 / 3; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
}


/* 768px and down */

@media only screen and (max-width: 768px) {
    .sec {
        height: fit-content !important;
    }

    #hero-img {
        height: 70vh;
        padding: 200px 7%;
        justify-content: flex-start;
    }

    .index-flex-container {
        flex-direction: column !important;
        margin-top: -250px;
    }

    .tile1, .tile2, .tile3 {
        width: 60%;
        height: 230px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .parent {
        height: fit-content;
    }

    #contact-content {
        flex-direction: column;
    }

    #contact-form, #contact-map {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #contact-map {
        margin-top: 0;
    }

}



/* tablets (700px and down) */
@media only screen and (max-width: 700px) {
    
    #main_heading {
        /* font-weight: 400; */
        font-size: 4em;
    }
    
    #tagline {
        font-size: 1em;
        min-width: 300px;
        /* margin-top: 2px; */
    }
    
    
    /* .index-flex-container {
        margin-top: -100px;
    }

    .tile1, .tile2, .tile3 {
        width: 300px;
        height: 200px;
        margin-top: 0;
        margin-bottom: 30px;
    } */

}

/* 650 and down */

@media only screen and (max-width: 650px) {

    /* #about1, #about2 {
        padding: 0 45px;
    } */

    #about1 {
        /* padding-top: calc(50vh - 39vh); */
        padding: calc(50vh - 39vh) 45px;

        /* height: max-content !important; */
    }


    .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        /* height: 80vh; */
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; min-height: 150px; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 3; max-height: fit-content; padding: 25px 30px;}
    .div4 { grid-area: 1 / 2 / 2 / 3; min-height: 150px; }
    .div5 { grid-area: 2 / 2 / 3 / 3; min-height: 150px; }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    
    #logo-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }



    .menu-bars{
        display:flex;
    }
    nav ul{
        position:absolute;
        right:0;
        top:0;
        width:80%;
        height:100vh;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        background-color: var(--primary);
        z-index: -1;
        transform: translateX(100%);
        transition: transform 1s;
    }
    .nav-container ul li {
        /* background-color: aqua; */
        width: calc( 94% - 15px );
        margin: 20px 20px 0;
        padding-bottom: 20px;
        border-bottom: #C6D8FF 1px solid;
        /* margin-top: 20px;
        margin-left: 20px; */
        height: fit-content;
        justify-content: flex-start;
    }

    .nav-container ul li:hover {
        background-color: transparent;
    }

    .nav-container ul li a {
        text-transform: capitalize;
    }

}

/* 500 and down */

@media only screen and (max-width: 500px) {
    #main_heading {
        font-size: 2.7em;
    }

    .tile1, .tile2, .tile3 {
        min-width: 294px;
    }
}

/* 450 and down */

@media only screen and (max-width: 450px) {
    .parent {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .div1 { grid-area: 1 / 1 / 2 / 2;}
    .div2 { grid-area: 3 / 1 / 4 / 2;}
    .div3 { grid-area: 5 / 1 / 6 / 2;}
    .div4 { grid-area: 2 / 1 / 3 / 2; min-height: 150px;}
    .div5 { grid-area: 4 / 1 / 5 / 2;}
}



/* 650px and up */

@media only screen and (min-width: 769px) {
    .sec {
        height: 100vh !important;
    }
}